In [1]:
# Import Dependencies
import pandas as pd
from pathlib import Path

In [2]:
# Create reference to CSV files
startup_csv = Path("Resources/startup_data_cleaned.csv")
zipcode_csv = Path("Resources/zip_code_demographics.csv")

# Import CSVs into Pandas DataFrame
startup_df = pd.read_csv(startup_csv)
zipcode_df = pd.read_csv(zipcode_csv)

In [3]:
startup_df.head()

,Unnamed: 0,state_code,latitude,longitude,zip_code,id,city,Unnamed: 6,name,labels,...,object_id,has_VC,has_angel,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500,status
0,1005,CA,42.358880,-71.056820,92101,c:6669,San Diego,NaN,Bandsintown,1,...,c:6669,0,1,0,0,0,0,1.0000,0,acquired
1,204,CA,37.238916,-121.973718,95032,c:16283,Los Gatos,NaN,TriCipher,1,...,c:16283,1,0,0,1,1,1,4.7500,1,acquired
2,1001,CA,32.901049,-117.192656,92121,c:65620,San Diego,San Diego CA 92121,Plixi,1,...,c:65620,0,0,1,0,0,0,4.0000,1,acquired
3,738,CA,37.320309,-122.050040,95014,c:42668,Cupertino,Cupertino CA 95014,Solidcore Systems,1,...,c:42668,0,0,0,1,1,1,3.3333,1,acquired
4,1002,CA,37.779281,-122.419236,94105,c:65806,San Francisco,San Francisco CA 94105,Inhale Digital,0,...,c:65806,1,1,0,0,0,0,1.0000,1,closed

In [4]:
startup_df_dropcolumns = startup_df.drop(columns=['Unnamed: 0', 'id', 'Unnamed: 6', 'object_id', 'is_CA', 'is_NY', 'is_MA', 'is_TX', 'is_otherstate', 'is_software', 'is_web', 'is_mobile', 'is_enterprise', 'is_advertising', 'is_gamesvideo', 'is_ecommerce', 'is_biotech', 'is_consulting', 'is_othercategory'])
startup_df_dropcolumns.head()

,state_code,latitude,longitude,zip_code,city,name,labels,founded_at,closed_at,first_funding_at,...,category_code,has_VC,has_angel,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500,status
0,CA,42.358880,-71.056820,92101,San Diego,Bandsintown,1,1/1/2007,NaN,4/1/2009,...,music,0,1,0,0,0,0,1.0000,0,acquired
1,CA,37.238916,-121.973718,95032,Los Gatos,TriCipher,1,1/1/2000,NaN,2/14/2005,...,enterprise,1,0,0,1,1,1,4.7500,1,acquired
2,CA,32.901049,-117.192656,92121,San Diego,Plixi,1,3/18/2009,NaN,3/30/2010,...,web,0,0,1,0,0,0,4.0000,1,acquired
3,CA,37.320309,-122.050040,95014,Cupertino,Solidcore Systems,1,1/1/2002,NaN,2/17/2005,...,software,0,0,0,1,1,1,3.3333,1,acquired
4,CA,37.779281,-122.419236,94105,San Francisco,Inhale Digital,0,8/1/2010,10/1/2012,8/1/2010,...,games_video,1,1,0,0,0,0,1.0000,1,closed

In [5]:
zipcode_df.head()

,zip,lat,lng,city,state_id,state_name,population,density,county_name,po_box,dist_highway,dist2_large_airport,dist2_medium_airport,dist_to_shore,number_of_business,adjusted_gross_income,total_income_amount,number_of_returns
0,1001,42.06262,-72.62521,Agawam,MA,Massachusetts,16088,550.1,Hampden,0,1.387035,106.145765,12.946212,93.049251,438.0,598807,6.047690e+05,9320
1,1002,42.37633,-72.46462,Amherst,MA,Massachusetts,27323,198.1,Hampshire,0,14.438177,112.264368,21.080079,133.370144,571.0,989558,1.005796e+06,9880
2,1005,42.42117,-72.10655,Barre,MA,Massachusetts,4947,44.2,Worcester,0,16.788339,90.664964,25.547718,97.639881,97.0,164207,1.660540e+05,2490
3,1007,42.28163,-72.40009,Belchertown,MA,Massachusetts,15304,107.7,Hampshire,0,13.663839,101.552921,14.762395,114.406034,217.0,647074,6.547390e+05,7970
4,1008,42.18234,-72.95819,Blandford,MA,Massachusetts,1171,7.4,Hampden,0,2.593655,136.548797,20.177950,107.466779,18.0,47826,4.824100e+04,660

In [6]:
# Check zip values
zipcode_df.dtypes

zip                        int64
lat                      float64
lng                      float64
city                      object
state_id                  object
state_name                object
population                 int64
density                  float64
county_name               object
po_box                     int64
dist_highway             float64
dist2_large_airport      float64
dist2_medium_airport     float64
dist_to_shore            float64
number_of_business       float64
adjusted_gross_income      int64
total_income_amount      float64
number_of_returns          int64
dtype: object

In [7]:
# Change zip code column values to string
zipcode_df['zip'] = zipcode_df['zip'].astype(str)
zipcode_df.dtypes

zip                       object
lat                      float64
lng                      float64
city                      object
state_id                  object
state_name                object
population                 int64
density                  float64
county_name               object
po_box                     int64
dist_highway             float64
dist2_large_airport      float64
dist2_medium_airport     float64
dist_to_shore            float64
number_of_business       float64
adjusted_gross_income      int64
total_income_amount      float64
number_of_returns          int64
dtype: object

In [8]:
# Add '0' in front of zip codes that only have 4 characters
zipcode_df['zip'] = zipcode_df['zip'].apply(lambda x: '0' + x if len(x) == 4 else x)
zipcode_df

,zip,lat,lng,city,state_id,state_name,population,density,county_name,po_box,dist_highway,dist2_large_airport,dist2_medium_airport,dist_to_shore,number_of_business,adjusted_gross_income,total_income_amount,number_of_returns
0,01001,42.06262,-72.62521,Agawam,MA,Massachusetts,16088,550.1,Hampden,0,1.387035,106.145765,12.946212,93.049251,438.0,598807,6.047690e+05,9320
1,01002,42.37633,-72.46462,Amherst,MA,Massachusetts,27323,198.1,Hampshire,0,14.438177,112.264368,21.080079,133.370144,571.0,989558,1.005796e+06,9880
2,01005,42.42117,-72.10655,Barre,MA,Massachusetts,4947,44.2,Worcester,0,16.788339,90.664964,25.547718,97.639881,97.0,164207,1.660540e+05,2490
3,01007,42.28163,-72.40009,Belchertown,MA,Massachusetts,15304,107.7,Hampshire,0,13.663839,101.552921,14.762395,114.406034,217.0,647074,6.547390e+05,7970
4,01008,42.18234,-72.95819,Blandford,MA,Massachusetts,1171,7.4,Hampden,0,2.593655,136.548797,20.177950,107.466779,18.0,47826,4.824100e+04,660
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33699,28388,35.18000,-79.40000,Southern Pines,NC,North Carolina,15158,198.2,Moore,1,29.611385,95.336980,35.052347,172.197809,637.0,652358,6.615840e+05,7740
33700,28765,35.96000,-82.12000,Spruce Pine,NC,North Carolina,10318,55.5,Mitchell,1,34.660884,134.931257,62.822117,402.428512,280.0,196579,1.988100e+05,3910
33701,40027,38.28000,-85.62000,Louisville,KY,Kentucky,21622,883.0,Jefferson,1,1.148362,15.509671,6.927500,400.646608,1133.0,1333163,1.350029e+06,11760
33702,40292,38.22000,-85.74000,Louisville,KY,Kentucky,12029,1936.4,Jefferson,1,1.017999,5.082523,6.724578,403.729631,270.0,323448,3.268630e+05,6500
33703,44316,41.08000,-81.52000,Akron,OH,Ohio,1723,1440.6,Summit,1,1.381451,46.050739,6.492610,50.216506,393.0,27191,2.777000e+04,380

In [9]:
# Change column name to match with the other dataframe
zipcode_df_newzip = zipcode_df.rename(columns={'zip': 'zip_code'})
zipcode_df_newzip

,zip_code,lat,lng,city,state_id,state_name,population,density,county_name,po_box,dist_highway,dist2_large_airport,dist2_medium_airport,dist_to_shore,number_of_business,adjusted_gross_income,total_income_amount,number_of_returns
0,01001,42.06262,-72.62521,Agawam,MA,Massachusetts,16088,550.1,Hampden,0,1.387035,106.145765,12.946212,93.049251,438.0,598807,6.047690e+05,9320
1,01002,42.37633,-72.46462,Amherst,MA,Massachusetts,27323,198.1,Hampshire,0,14.438177,112.264368,21.080079,133.370144,571.0,989558,1.005796e+06,9880
2,01005,42.42117,-72.10655,Barre,MA,Massachusetts,4947,44.2,Worcester,0,16.788339,90.664964,25.547718,97.639881,97.0,164207,1.660540e+05,2490
3,01007,42.28163,-72.40009,Belchertown,MA,Massachusetts,15304,107.7,Hampshire,0,13.663839,101.552921,14.762395,114.406034,217.0,647074,6.547390e+05,7970
4,01008,42.18234,-72.95819,Blandford,MA,Massachusetts,1171,7.4,Hampden,0,2.593655,136.548797,20.177950,107.466779,18.0,47826,4.824100e+04,660
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33699,28388,35.18000,-79.40000,Southern Pines,NC,North Carolina,15158,198.2,Moore,1,29.611385,95.336980,35.052347,172.197809,637.0,652358,6.615840e+05,7740
33700,28765,35.96000,-82.12000,Spruce Pine,NC,North Carolina,10318,55.5,Mitchell,1,34.660884,134.931257,62.822117,402.428512,280.0,196579,1.988100e+05,3910
33701,40027,38.28000,-85.62000,Louisville,KY,Kentucky,21622,883.0,Jefferson,1,1.148362,15.509671,6.927500,400.646608,1133.0,1333163,1.350029e+06,11760
33702,40292,38.22000,-85.74000,Louisville,KY,Kentucky,12029,1936.4,Jefferson,1,1.017999,5.082523,6.724578,403.729631,270.0,323448,3.268630e+05,6500
33703,44316,41.08000,-81.52000,Akron,OH,Ohio,1723,1440.6,Summit,1,1.381451,46.050739,6.492610,50.216506,393.0,27191,2.777000e+04,380

In [10]:
# Drop unneeded columns
zipcode_df_clean = zipcode_df_newzip.drop(columns=['po_box', 'state_id', 'city', 'state_name'])
zipcode_df_clean

,zip_code,lat,lng,population,density,county_name,dist_highway,dist2_large_airport,dist2_medium_airport,dist_to_shore,number_of_business,adjusted_gross_income,total_income_amount,number_of_returns
0,01001,42.06262,-72.62521,16088,550.1,Hampden,1.387035,106.145765,12.946212,93.049251,438.0,598807,6.047690e+05,9320
1,01002,42.37633,-72.46462,27323,198.1,Hampshire,14.438177,112.264368,21.080079,133.370144,571.0,989558,1.005796e+06,9880
2,01005,42.42117,-72.10655,4947,44.2,Worcester,16.788339,90.664964,25.547718,97.639881,97.0,164207,1.660540e+05,2490
3,01007,42.28163,-72.40009,15304,107.7,Hampshire,13.663839,101.552921,14.762395,114.406034,217.0,647074,6.547390e+05,7970
4,01008,42.18234,-72.95819,1171,7.4,Hampden,2.593655,136.548797,20.177950,107.466779,18.0,47826,4.824100e+04,660
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33699,28388,35.18000,-79.40000,15158,198.2,Moore,29.611385,95.336980,35.052347,172.197809,637.0,652358,6.615840e+05,7740
33700,28765,35.96000,-82.12000,10318,55.5,Mitchell,34.660884,134.931257,62.822117,402.428512,280.0,196579,1.988100e+05,3910
33701,40027,38.28000,-85.62000,21622,883.0,Jefferson,1.148362,15.509671,6.927500,400.646608,1133.0,1333163,1.350029e+06,11760
33702,40292,38.22000,-85.74000,12029,1936.4,Jefferson,1.017999,5.082523,6.724578,403.729631,270.0,323448,3.268630e+05,6500
33703,44316,41.08000,-81.52000,1723,1440.6,Summit,1.381451,46.050739,6.492610,50.216506,393.0,27191,2.777000e+04,380

In [11]:
# Join the two tables
merged_df = pd.merge(startup_df_dropcolumns, zipcode_df_clean, on='zip_code', how='inner')
merged_df

,state_code,latitude,longitude,zip_code,city,name,labels,founded_at,closed_at,first_funding_at,...,density,county_name,dist_highway,dist2_large_airport,dist2_medium_airport,dist_to_shore,number_of_business,adjusted_gross_income,total_income_amount,number_of_returns
0,CA,42.358880,-71.056820,92101,San Diego,Bandsintown,1,1/1/2007,NaN,4/1/2009,...,3090.7,San Diego,2.158829,1.972734,3.315078,3.499594,3846.0,2614117,2650133.0,25200
1,CA,37.238916,-121.973718,95032,Los Gatos,TriCipher,1,1/1/2000,NaN,2/14/2005,...,561.6,Santa Clara,4.877279,17.115840,25.601375,26.882493,965.0,5738753,5783111.0,13140
2,CA,32.901049,-117.192656,92121,San Diego,Plixi,1,3/18/2009,NaN,3/30/2010,...,129.7,San Diego,0.831302,18.238841,6.403279,4.965306,2932.0,494212,499351.0,2550
3,CA,37.320309,-122.050040,95014,Cupertino,Solidcore Systems,1,1/1/2002,NaN,2/17/2005,...,965.8,Santa Clara,2.952857,14.616111,12.295377,30.184050,1653.0,8095008,8145254.0,27030
4,CA,37.779281,-122.419236,94105,San Francisco,Inhale Digital,0,8/1/2010,10/1/2012,8/1/2010,...,10568.6,San Francisco,0.918062,17.380428,51.873742,7.727539,2216.0,3105528,3124831.0,8230
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
790,WA,47.802184,-122.196307,98021,Bothell,Dexterra,1,1/1/2000,NaN,8/17/2005,...,1307.6,Snohomish,0.044390,38.952904,13.785448,11.966311,681.0,2308559,2325163.0,15570
791,CA,37.740594,-122.376471,94107,San Francisco,CoTweet,1,1/1/2009,NaN,7/9/2009,...,5951.9,San Francisco,0.149818,16.050383,49.321312,8.898267,2343.0,4168994,4205247.0,17710
792,CA,37.408261,-122.015920,94089,Sunnyvale,Paracor Medical,0,1/1/1999,6/17/2012,6/29/2007,...,1490.6,Santa Clara,0.687591,9.324579,3.090437,36.504898,600.0,1582932,1590359.0,12130
793,CA,37.556732,-122.288378,94404,San Francisco,Causata,1,1/1/2009,NaN,10/5/2009,...,3246.0,San Mateo,0.916312,11.658279,24.892623,19.131821,948.0,4023341,4055424.0,17690
794,CA,37.386778,-121.966277,95054,Santa Clara,Asempra Technologies,1,1/1/2003,NaN,2/13/2006,...,1466.9,Santa Clara,1.174872,4.638658,7.863331,40.777124,1840.0,2470347,2479560.0,12410

In [12]:
# Define unique_join
def unique_join(series):
    return ', '.join(set(series))

In [13]:
# Clean up the dataframe further to eliminate repeated locations and aggregate startup names
merged_df_cleaned = merged_df.groupby('city').agg({
    'name': ', '.join,
    'state_code': 'first',
    'latitude': 'first',
    'longitude': 'first',
    'zip_code': unique_join,
    'funding_total_usd': 'mean',
    'population': 'max',
    'density': 'max',
    'county_name': 'first',
    'number_of_business': 'mean',
    'adjusted_gross_income': 'mean',
    'total_income_amount': 'mean'
    }).reset_index()
merged_df_cleaned

,city,name,state_code,latitude,longitude,zip_code,population,density,county_name,number_of_business,adjusted_gross_income,total_income_amount
0,Addison,"CREDANT Technologies, Semantra, SensorLogic, C...",TX,32.960431,-96.830260,75001,16287,1675.8,Dallas,1639.0,937748.0,946105.0
1,Alameda,"Makani Power, Voxify",CA,37.783178,-122.308619,94501,63588,3079.2,Alameda,1375.0,3786744.0,3834583.0
2,Albuquerque,iosil Energy,NM,35.084103,-106.650985,87102,19056,1127.5,Bernalillo,1288.0,356860.0,360937.0
3,Aliso Viejo,"Enclarity, Gaikai",CA,33.584282,-117.730682,92656,53169,2566.6,Orange,1239.0,3027042.0,3062820.0
4,Allentown,"International Battery, T-Networks",PA,40.602206,-75.471279,18106,6621,321.3,Lehigh,576.0,367268.0,370799.0
...,...,...,...,...,...,...,...,...,...,...,...,...
170,Weston,DateMyFamily.com,FL,26.106273,-80.418940,33327,23593,61.7,Broward,538.0,1445564.0,1462099.0
171,Woodbury,Cloverleaf Communications,NY,40.825655,-73.467622,11797,9137,692.3,Nassau,662.0,1478750.0,1504663.0
172,Yardley,Three Screen Games,PA,40.245664,-74.845997,19067,52862,647.6,Bucks,1313.0,3466816.0,3512398.0
173,Yorba Linda,Gigi Hill,CA,33.877510,-117.727046,92887,20395,697.8,Orange,593.0,1483913.0,1506401.0
174,Zeeland,Revetto,MI,42.813865,-86.023846,49464,29060,153.4,Ottawa,635.0,1106805.0,1122482.0

In [14]:
# Export new dataframes to csv
merged_df_cleaned.to_csv('Resources/merged_df_cleaned.csv', index=False)

In [ ]:
from flask import Flask, jsonify
from flask_pymongo import PyMongo

In [ ]:
app = Flask(__name__)

In [ ]:
app.config["MONGO_URI"] = "mongodb://localhost:27017/merged_df"
mongo = PyMongo(app)

In [ ]:
merged_data = merged_df.to_dict(orient='records')
mongo.db.startupsuccess.insert_many(merged_data)

In [ ]:
@app.route('/data')
def get_data():
    data = mongo.db.startupsuccess.find()
    return jsonify([record for record in data])

In [ ]:
@app.route('index.html')
def index():
    return render_template("index.html")

In [ ]:
if __name__ == '__main__':
    app.run(debug=True)